$primaryColor:#4AA382 !default;
$primaryLightColor: scale-color($primaryColor, $lightness: 60%) !default;
$primaryDarkColor:#348F6D !default;
$primaryDarkerColor:#227053 !default;
$primaryTextColor:#ffffff !default;

$highlightBg: scale-color($primaryColor, $lightness: 75%) !default;
$highlightTextColor: #495057 !default;

@import '../sass/theme/_theme';
