$primaryColor:#00bfe7 !default;
$primaryLightColor: scale-color($primaryColor, $lightness: 60%) !default;
$primaryDarkColor:#00a6d2 !default;
$primaryDarkerColor:#046b99 !default;
$primaryTextColor:#ffffff !default;

$highlightBg: scale-color($primaryColor, $lightness: 85%) !default;
$highlightTextColor: #495057 !default;

@import '../sass/theme/_theme';
