<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>

		<!-- JDBC connection pool (using c3p0) -->
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.timeout">1800</property>
		<property name="hibernate.c3p0.max_statements">50</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>
		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>

		<mapping
			class="org.sers.webutils.model.migrations.DBChangeset" />
		<mapping class="org.sers.webutils.model.migrations.Migration" />
		<mapping class="org.sers.webutils.model.security.User" />
		<mapping class="org.sers.webutils.model.security.Role" />
		<mapping class="org.sers.webutils.model.security.Permission" />
		<mapping class="org.sers.webutils.model.Country" />
		<mapping class="org.sers.webutils.model.Lookup" />
		<mapping class="org.sers.webutils.model.LookupCategory" />
		<mapping class="org.sers.webutils.model.bgtasks.BackgroundJobLog" />
		<mapping class="org.sers.webutils.model.bgtasks.BackgroundTask" />
		<mapping class="org.sers.webutils.model.bgtasks.RoutineTaskData" />
		<mapping class="org.sers.webutils.model.bgtasks.TaskSchedule" />
		<mapping class="org.sers.webutils.model.bgtasks.MethodParameter" />
		<mapping class="org.sers.webutils.model.security.PasswordToken" />


		<mapping class="org.pahappa.systems.kpiTracker.models.MailSetting"/>
		<mapping class="org.pahappa.systems.kpiTracker.models.settings.ApplicationSettings"/>
		<mapping class="org.pahappa.systems.kpiTracker.models.staff.Staff" />
		<mapping class="org.pahappa.systems.kpiTracker.models.security.PasswordResetToken" />
		<mapping class="org.pahappa.systems.kpiTracker.models.inventoryItem.InventoryItem"/>
		<mapping class="org.pahappa.systems.kpiTracker.models.debtor.Debtor"/>

	</session-factory>
</hibernate-configuration>
