$primaryColor:#85344E !default;
$primaryLightColor: scale-color($primaryColor, $lightness: 60%) !default;
$primaryDarkColor:#6a293e !default;
$primaryDarkerColor:#4f1f2e !default;
$primaryTextColor:#ffffff !default;

$highlightBg: scale-color($primaryColor, $lightness: 80%) !default;
$highlightTextColor: #495057 !default;

@import '../sass/theme/_theme';